name: Build and Push Docker Images

on:
  push:
    branches: main
    paths:
      - '*.v*/Dockerfile'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push images
        run: |
          for dir in */; do
            if [[ -f "$dir/Dockerfile" && "$dir" =~ _[0-9] ]]; then
              dirname=${dir%/}
              # Handle tool_#.# pattern (e.g., bioconductor_4.0)
              toolname=${dirname%_*}
              tag=${dirname#*_}
              
              docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/$toolname:$tag $dir
              docker push ${{ secrets.DOCKERHUB_USERNAME }}/$toolname:$tag
            fi
          done
